
    <div class="row">
      <div class="col-12">
        <div *ngFor="let publicacion of publicaciones">
          {{aux2.codigo}}
              <div class= "row">
                  <div class="col-3">
                    <img style="width: 100%" src="{{publicacion.imgn}}" />
                  </div>
                  <div class="col-9">
                    <h1>{{publicacion.titulo}}</h1>
                    <p>{{publicacion.texto}}</p>
                  </div>
                </div>
        </div>
      </div>
  </div>
