<div class="row">
  <div class="col-12">
    <img src="assets/header.png" style="width: 100%" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Item 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Item 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Item 3</a>
      </li>
    </ul>
  </div>
</div>


<p>   header works! </p>
