<div class="row">
  <div class="col-8">

  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="categoria">Temas</label>
      <select class="form-control" id="seltem" (change)="eventoctrl($event)">
        <option value="0">Opcion 0</option>
        <option value="1">Opcion 1</option>
        <option value="2">Opcion 2</option>
        <option value="3">Opcion 3</option>
      </select>
    </div>

    <div class="form-group">
      <label for="categoria">Temas</label>
      <select class="form-control" id="seltem" (change)="eventoctrl($event)">
        <option *ngFor="let objeto of temas" value="{{objeto.codigo}}">{{objeto.texto}}</option>
        
      </select>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div *ngFor="let publicacion of publicaciones">
      {{aux2.codigo}}
      <div *ngIf="publicacion.tema.codigo == aux2.codigo else caso">
          <div class= "row">
              <div class="col-3">
                <img style="width: 100%" src="{{publicacion.imgn}}" />
              </div>
              <div class="col-9">
                <h1>{{publicacion.titulo}}</h1>
                <p>{{publicacion.texto}}</p>
              </div>
            </div>
      </div>
      <ng-template #caso>

        <p>no hay</p>
      </ng-template>
      
     
    </div>
  </div>
</div>